{% extends 'base.html' %}
  
{% block content %}

<h1>POKE'MON!</h1>
<br>

<form class="container" method="POST">

    {{ form.hidden_tag() }}

    {{ form.name(class='form-control', placeholder='Pokemon Name') }}
    {{ form.submit(class='btn btn-primary') }}

</form>

<div class="card" style="width: 18rem;">
  <img src="{{ pokemon.img_url }}}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ pokemon.name }}}}</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>



<br>
<ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/">Go Back Home</a>
    </li>
  </ul>


{% endblock %}
